.header {
  background: var(--white-black);
  padding: 10px 0;
  box-shadow: 0 8px 8px 0 var(--box-shadow-color);
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left, &__right {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 25px;
    font-weight: 700;
    color: var(--black-white);
    transition: transform 0.3s ease;
    &:active {
      transform: scale(0.9);
    }
  }
  &__search {
    width: 250px;
    position: relative;
    &-input {
      width: 100%;
      padding: 10px 40px;
      border-radius: 10px;
      border: none;
      outline: none;
      background: var(--bg-color);
      &:hover, &:focus {
        background: var(--bg-color-ex);
      }

    }
    &-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__btn {
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    transition: .2s;
    &:hover {
      background: var(--bg-color);
    }
    &-icon {
      font-size: 25px;
      color: var(--black-white);
    }
    &:active {
      background: var(--bg-color-ex);
    }
  }
  &__auth {
    background: none;
    border: none;
    position: relative;
    &-menu {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(0, 100%);
      background: var(--white-black);
      border-radius: 5px;
      height: 0;
      overflow: hidden;
      transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;

      &.open {
        opacity: 1;
        visibility: visible;
        height: auto;
        box-shadow: 0 8px 8px 5px var(--box-shadow-color);
      }
    }



    &-btn {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px;
      column-gap: 10px;
      width: 200px;
      transition: .2s;
      position: relative;
      &:hover {
        background: var(--bg-color);
      }
      &:active {
        background: var(--bg-color-ex);
      }
      &_icon {
        font-size: 20px;
        color: var(--main-color);
        &.end {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.theme {
        position: relative;

      }
      &_menu {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(0, 100%);
        background: var(--white-black);
        border-radius: 5px;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
        &.open {
          opacity: 1;
          visibility: visible;
          height: auto;
          box-shadow: 0 8px 8px 5px var(--box-shadow-color);
        }
      }
    }
  }
}